<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.System" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.0.0" newVersion="10.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.ADF.Local" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.0.0" newVersion="10.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Geometry" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.0.0" newVersion="10.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.CartoUI" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.0.0" newVersion="10.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.ArcMapUI" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.0.0" newVersion="10.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Display" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.0.0" newVersion="10.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Framework" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.0.0" newVersion="10.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Geodatabase" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.0.0" newVersion="10.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Carto" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.0.0" newVersion="10.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.SystemUI" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.0.0" newVersion="10.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
